{
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 150,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
